#admin {
  margin: 20px;
  
  min-height: 75vh;
  background: var(--bg-color-1);
  border: 1px solid var(--border-color-1);

  #sections {
    border-bottom: 1px solid var(--border-color-1);

    button {
      padding: .5em 1em .4em 1em;
      font-size: 1.1rem;
      color: rgb(200, 200, 200);
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      cursor: pointer;

      &.selected {
        color: white;
        border-color: pink;
      }
    }
  }

  #body {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 20px;
  }
}

// Sidebar item selection.
.items {
  width: 250px;
  max-height: 450px;
  overflow-y: auto;
  border: 1px solid var(--border-color-1);

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;
    font-size: 1.15rem;
    font-weight: bold;
    cursor: default;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.4rem;
      min-width: 1.4rem;
      padding: .1em .2em;
      font-size: 1rem;
      color: var(--text-color-2);
      background: var(--bg-color-4);
      border-radius: 50%;
    }

    button {
      width: min-content;
      margin: 0;
      padding: .1em .2em;
      font-size: 1rem;
      white-space: nowrap;
      color: rgb(100, 255, 100);
      background: var(--bg-color-3);
      border: 1px solid var(--border-color-3);
      border-radius: 8px;
      transition: 150ms;
      cursor: pointer;
      &:hover { color: white; background: rgb(100, 255, 100); }
    }
  }

  button {
    display: flex;
    align-items: center;
    gap: 3px;
    width: 100%;
    padding: 3px 4px;
    font-size: 1rem;
    color: var(--text-color-1);
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      color: white;
      background: var(--bg-color-3);
    }

    &.selected {
      color: white;
      background: var(--bg-color-4);
      padding-left: 2px;
      border-left: 2px solid pink;
    }

    span {
      min-width: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .dot_gray, .dot_blue {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    &.dot_gray { background: var(--bg-color-4); }
    &.dot_blue { background: aqua; }
  }
}

// Options / main content area.
#options {
  display: flex;
  flex-direction: column;
  // width: clamp(200px, 600px, 100%);

  h2 {
    margin: 10px 0;
    font-size: 1.3rem;
  }

  ul {
    margin: 10px 10px 0 0;
    padding-left: 15px;
    font-size: .95rem;
    color: var(--text-color-2);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .input {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 0;
  }

  label {
    margin: 3px 0;
    font-size: 1.05rem;
    color: white;
  }

  // Text/text-block inputs.
  input[type="text"], textarea {
    font-size: 1rem;
    color: var(--text-color-1);
    background: var(--bg-color-2);
    border: 1px solid var(--border-color-2);
  }

  input[type="text"] { width: clamp(150px, 300px, 300px); }

  // Image/file input.
  .image_input {
    display: flex;
    align-items: center;
    gap: 20px;

    input[type="file"] {
      width: min-content;
      font-size: 0;
      color: transparent;
  
      &::file-selector-button {
        padding: .2em 1em;
        font-size: 1rem;
        color: var(--text-color-1);
        background-color: var(--bg-color-3);
        border: 2px dashed var(--border-color-3);
        border-radius: 5px;
        cursor: pointer;
        &:hover { background-color: var(--bg-color-4); }
      }
    }

    .image {
      height: 80px;
      width: 80px;
      margin: 0 40px 10px 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-blend-mode: darken;
      border: 1px solid var(--border-color-2);
      &.banner { width: 250px; }
    }
  }

  // Slider input.
  .slider_input {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 1rem;
    color: var(--text-color-1);
    cursor: default;

    input[type="range"] {
      width: 100px;
      margin-bottom: 5px;
      color: aqua;
      outline: none;
      cursor: pointer;
    }
  }

  // Color picker input.
  .color_input {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: var(--text-color-1);
    cursor: default;

    input[type="color"] {
      width: 100px;
      height: 35px;
      background: var(--border-color-2);
      border: none;
      padding: 2px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

// No item selected.
.no_item {
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
  color: var(--text-color-3);
}

// Save changes button & popup.
#save_button {
  width: min-content;
  margin: 10px 10px 10px 0;
  padding: .3em .6em;
  font-size: 1.05rem;
  white-space: nowrap;
  color: rgb(180, 180, 255);
  background: var(--bg-color-3);
  border: 1px solid var(--border-color-3);
  border-radius: 10px;
  transition: 150ms;
  opacity: 0.5;
  cursor: no-drop;
  &.savable {
    opacity: 1; cursor: pointer;
    &:hover { color: white; background: rgb(180, 180, 255); }
  }
}

#save_popup {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 1.15rem;
  color: var(--text-color-1);
  background: black;
  border: 1px solid var(--border-color-3);
  border-radius: 10px;
  z-index: 1;
  cursor: default;
  animation: save-pop 150ms cubic-bezier(.17,.67,.87,1.5);

  button {
    padding: .4em .8em;
    font-size: 1.15rem;
    color: white;
    background: rgb(0, 220, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover { background: rgb(0, 180, 0); }
  }

  @keyframes save-pop {
    from { translate: 0 100px; }
    to { translate: 0 0; }
  }
}

// Delete item button & modal.
#delete_button {
  width: min-content;
  margin: 10px 10px 10px 0;
  padding: .3em .6em;
  font-size: 1.05rem;
  white-space: nowrap;
  color: rgb(255, 95, 95);
  background: var(--bg-color-3);
  border: 1px solid var(--border-color-3);
  border-radius: 10px;
  transition: 150ms;
  cursor: pointer;
  &:hover { color: white; background: rgb(255,85, 95); }
}

#delete_modal,
#error_modal {
  padding: 10px 30px;
  background: var(--bg-color-1);
  border: 1px solid var(--border-color-1);
  border-radius: 10px;

  h2 { margin: 0; text-align: center; font-size: 1.3rem; }
  p { font-size: 1.05rem; color: var(--text-color-1); }

  button {
    width: 100%;
    margin: 3px 0;
    padding: 5px;
    font-size: 1.05rem;
    background: var(--bg-color-3);
    border: 1px solid var(--border-color-3);
    border-radius: 10px;
    transition: 150ms;
    cursor: pointer;

    &#cancel {
      color: var(--text-color-1);
      &:hover { color: white; background: var(--bg-color-4); }
    }

    &#delete {
      color: rgb(255, 95, 95);
      &:hover { color: white; background: rgb(255, 95, 95); }
    }
  }
}