// Previous missions.
.container {
  max-width: min-content;
  margin: 10px auto;
  overflow-x: scroll;

  @media (min-width: 700px) {
    overflow-x: hidden;
  }
}

#missions_list {
  margin: 0 auto;
  color: var(--text-color-1);
  border: 1px solid var(--border-color-1);

  .header {
    color: white;
    background: black;
    
    th {
      padding: 5px 15px;
      white-space: nowrap;
      border-bottom: 1px solid var(--border-color-1);
    }
  }

  .row {
    background: rgb(30, 30, 30);
    cursor: pointer;
    &:nth-child(odd) { background: rgb(33, 33, 33); }
    &:hover { background: rgb(60, 60, 60); }

    td {
      padding: 5px 5px;
      font-size: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      border-bottom: 1px solid var(--border-color-1);

      &:nth-child(1) { min-width: 350px; max-width: 350px; } // Mission Name
      &:nth-child(2) { width: 40px; } // Participants
      &:nth-child(3) { width: 40px; } // AA Kills
      &:nth-child(4) { width: 40px; } // AG Kills
      &:nth-child(5) { width: 50px; } // Has Briefing
      &:nth-child(6) { min-width: 140px; max-width: 140px; text-align: center; } // Date

      div {
        display: flex;
        align-items: center;
        justify-content: inherit;
        width: inherit;
        margin: auto;
      }

      .dot_yes, .dot_no {
        width: 12px;
        height: 12px;
        margin: 0 3px;
        border: 1px solid black;
        border-radius: 50%;
      }

      .dot_yes { background: aqua; }
      .dot_no { background: rgb(81, 81, 81); }
    }
  }
}

.btn_more, .btn_less {
  display: block;
  margin: 0 auto 30px auto;
  padding: .5em 1em;
  font-size: 1.2rem;
  color: var(--text-color-1);
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--border-color-1);
  border-radius: 10px;
  transition: 300ms;
  cursor: pointer;
  &:hover { background: rgba(127, 127, 127, 0.2); }
}

// Upcoming briefings.
.no_briefings {
  margin: 0 10px;
  font-size: 1.1rem;
  text-align: center;
  color: var(--tet-color-3);
}

.briefing {
  max-width: 500px;
  margin: 10px auto 20px auto;
  
  a {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    background: rgb(25, 25, 35);
    border: 1px solid var(--border-color-2);
    border-radius: 10px;
    &:hover { background: rgb(40, 40, 50); }

    img { filter: grayscale(0.5) hue-rotate(180deg); }

    h2 {
      margin: 0 5px;
      font-size: 1.2rem;
      font-weight: lighter;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: var(--text-color-1);
    }

    p {
      margin: 0;
      font-size: 1rem;
      color: rgb(158, 181, 181);
    }
  }
}