<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", { title: "Briefing" }) %>
    <link rel="stylesheet" href="/css/briefingX.css" />
    <script src="/js/briefingX.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm0K_mILx9sfijA1UWXXGvO79KmcyQa0U&libraries=geometry&callback=initMap" async></script>
</head>
<body>
    <%- include("partials/header", { selectedPage: "" }) %>
    
    <script>
        const miz = JSON.parse('<%- JSON.stringify(data) %>')
    </script>

    <div id="map" style="display: none;"></div>
    

    <%- include("partials/footer") %>
</body>
</html>