<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", { title: "Home" }) %>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
    <%- include("partials/header", { selectedPage: "/" }) %>
    <h2>Virtual Pacific Air Command</h2>
    <section id="main-home-container">
        <section id="main-info-container">
            <section>
                <div class="sidebar sidebar-image-1"></div>
                <div>
                    <h3>About The Group</h3>
                    <div class="content">
                        <p>
                            Welcome to The Virtual Pacific Air Command! Our Squadron aims to be a group for individuals to come together and fly in a semi-milsim environment. The minimum requirement to fly is passing the Checkride for your airframe of choice. New to DCS? No problem. The Commanding Officer of each squadron will walk individuals through training/procedures and documents to help you become the best pilot you can be.<br /><br />

                            We are a US Based group made up of the following squadrons:<br />
                            13th FS (F-16)<br />
                            110th FAS (A-10C II)<br />
                            229th AR (Ka-50/Mi24P/Mi-8/UH-1H/SA-342/AH-64D)<br />
                            VX-9 (F/A-18/ F-14A/B)<br />
                            VMA-223 (AV-8B)<br /><br />

                            We fly each weekend, with missions on Fridays (Starts 11PM EST) and on  Saturdays (10PM EST).<br /><br />

                            Our requirements for joining are:<br />
                            Age must be 16 or over<br /><br />

                            To join VPAC, please fill out our application form. Once you have filled out the application, the CO of the airframe you are looking to fly to reach out to you at his earliest convenience (Please allow up to 48 hours for your application to be processed). Please check out our FAQ section below as well as the Squadrons tab to learn more about our group.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="sidebar sidebar-image-2"></div>
                <div>
                    <h3>FAQ: For New Members</h3>
                    <div class="content">
                        <p class="question">Q: How serious are we about milsim?</p><br />
                        <p>A: About a 7/10. We aim to be realistic in most aspects, but do not expect anyone to fly by the book. We understand people are on different skill levels and just want you to try your best. As long as you can communicate with your flight members effectively and operate your aircraft safely, you will be fine!</p>
                        <hr />
                        <p class="question">Q: What do the missions look like?</p>
                        <p>A: We fly 2-3 hour long missions every Friday and Saturday night. Typically 1 mission will be on a free map, while the other will most likely be on Syria or Persian Gulf. There may also be mid-week missions at the discretion of squadron leaders. For information on mission times, see the #mission-announcements channel on Discord.</p>
                        <hr />
                        <p class="question">Q: How do I start flying with VPAC?</p>
                        <p>A: Before you can join a squadron and start flying in our missions, you will need to schedule and fly a checkride flight with your squadron leader. Once you have filled out <a href="https://forms.gle/S7ddem74tqikrY5T9">an application</a>, your squadron leader will contact you to schedule a time. Information on the checkride requirements can be found on the <a href="/squadrons">Squadrons page</a>.</p>
                    </div>
                </div>
            </section>
        </section>
        <section id="main-members-container">
            <h3>Group Members</h3>
            <% let members = []
            squadrons.forEach(squadron => {
                squadron.members.forEach(member => {
                    let duplicate = false
                    members.forEach(member2 => {
                        if (member.id == member2.id) duplicate = true
                    })
                    if (!duplicate) members.push(member)
                })
            })
            let activeUsers = []
            let otherUsers = []
            members.forEach(user => {
                if (user.data.status) activeUsers.push(user)
                else otherUsers.push(user)
            })
            let users = [...activeUsers, ...otherUsers]
            users.forEach(user => { %>
                <%- include("partials/user", { user, group: "none" }) %>
            <% }) %>
        </section>
    </section>

    <%- include("partials/footer") %>
</body>
</html>