<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", { title: "Resources" }) %>
    <link rel="stylesheet" href="/css/resources.css" />
</head>
<body>
    <%- include("partials/header", { selectedPage: "/resources" }) %>
    <h2 style="text-align: center; margin: 20px;">VPAC PILOT RESOURCES (WIP)</h2>
    <%- include("partials/footer") %>
</body>
</html>