body { background-image: url("/assets/bg6.png"); }

#main-section-container {
    width: 95vw;
    min-height: 300px;
    padding: 15px;
    margin: 15px auto;
    background-color: var(--bg-color-1);
    border: 1px solid var(--border-color-1);
    border-radius: 10px;
    overflow: hidden;
}

#main-section-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: -15px -15px 15px -15px;
    padding: 0 10px;
    background-color: rgb(27, 27, 27);
}

#main-section-list li {
    padding: .6em 1.2em;
    font-weight: normal;
    font-size: 18px;
    transition: 300ms;
    cursor: pointer;
}

#main-section-list li:hover { background-color: var(--bg-color-2); }

/* Left sidebar select. */
.select-list {
    /* background: red; */
    width: 300px;
    border: 1px solid var(--border-color-2);
}

.select-list h4 {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

.select-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* color: red; */
}

.select-list ul li {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: .3em .4em;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color-1);
    cursor: pointer;
}

.select-list ul li:hover { background-color: var(--bg-color-2); }
.list-selected { color: white; background-color: var(--bg-color-3); }

.select-list .create-new {
    display: block;
    margin: 10px auto;
    padding: .2em .5em;
    font-size: 18px;
    color: rgb(0, 180, 0);
    background: none;
    border: 1px solid rgb(0, 180, 0);
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.select-list .create-new:hover { color: white; background-color: rgb(0, 180, 0); }

/* Right section options. */
.options-text { display: inline; }
.options-delete { display: inline; }

.options-text label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
}

.options-text input {
    display: block;
    width: 300px;
    padding: .3em;
    font-size: 16px;
    background-color: rgb(50, 50, 50);
    border: 1px solid var(--border-color-2);
    border-radius: 5px;
}

.options-text textarea {
    display: block;
    width: 500px;
    height: 100px;
    padding: .3em;
    font-size: 14px;
    background-color: rgb(40, 40, 40);
    border: 1px solid var(--border-color-2);
    border-radius: 5px;
    scrollbar-width: thin;
}

.options-text textarea::-webkit-scrollbar { display: none; }

.options-text select {
    display: block;
    min-width: 20em;
    padding: .2em;
    font-size: 16px;
    background-color: var(--bg-color-2);
    border: 1px solid var(--border-color-1);
}

.options-text button {
    margin: 20px 0 5px 0;
    padding: .2em .5em;
    font-size: 20px;
    color: rgb(0, 255, 255);
    background: none;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.options-text button:hover { color: white; background-color: rgb(0, 255, 255); }

.options-delete button {
    margin: 20px 0 5px 10px;
    padding: .2em .5em;
    font-size: 20px;
    color: rgb(255, 125, 125);
    background: none;
    border: 1px solid rgb(255, 125, 125);
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.options-delete button:hover { color: white; background-color: rgb(255, 125, 125); }

.options-open {
    margin: 20px 0 5px 0;
    padding: .2em .5em;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 255, 255);
    background: none;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.options-open:hover { color: white; background-color: rgb(0, 255, 255); }

/* Pop-ups */
#popup-updated {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .5em;
    text-align: center;
    background-color: rgb(0, 92, 0);
    border: 2px inset rgb(0, 63, 0);
    z-index: 1000;
}

/* Squadrons */
#section-squadrons {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

#section-squadrons .squadron-container {
    display: none;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color-2);
}

#section-squadrons .squadron-container h4 { font-size: 20px; margin-bottom: 15px; }
#section-squadrons .squadron-container p { font-size: 14px; color: rgb(0, 255, 255); }

.checkride-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.checkride-preview {
    min-width: 200px;
    max-width: 500px;
    background-color: var(--bg-color-2);
    border: 1px solid var(--border-color-2);
    border-radius: 10px;
}

/* Missions */
#section-missions {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

#section-missions .mission-container {
    display: none;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color-2);
}

#section-missions .mission-container h4 { font-size: 20px; margin-bottom: 25px; }

/* Resources */
#section-resources {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

#section-resources .resource-container {
    display: none;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color-2);
}

#section-resources .resource-container h4 { font-size: 20px; margin-bottom: 15px; }

/* Briefings */
#section-briefings {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

#section-briefings .briefing-container {
    display: none;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color-2);
}

#section-briefings .briefing-container h4 { font-size: 20px; margin-bottom: 15px; }
#section-briefings .briefing-container p { font-size: 14px; color: rgb(0, 255, 255); }

#section-briefings .public-true {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 214, 0);
    border-radius: 50%;
}

#section-briefings .public-false {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 79, 79);
    border-radius: 50%;
}