body { background-image: url("/assets/bg1.png"); }

#main-home-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 0 10px 50px 10px;
}

#main-home-container #right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#main-info-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
}

#main-info-container section {
    display: flex;
    max-width: 920px;
    min-height: 200px;
    padding: 10px;
    background-color: var(--bg-color-1);
    border: 1px solid var(--border-color-1);
    border-radius: 10px;
    overflow: hidden;
}

#main-info-container .sidebar-image-1 { background-image: url('/assets/bg8.png'); }
#main-info-container .sidebar-image-2 { background-image: url('/assets/bg7.png'); }

#main-info-container .sidebar {
    max-width: 170px;
    min-width: 170px;
    margin: -10px 0 -10px -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 1px solid var(--border-color-1);
}

#main-info-container .content {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    border-left: 2px solid var(--border-color-1);
    border-right: 2px solid var(--border-color-1);
}

#main-info-container h3 { margin-bottom: 15px; text-align: center; font-size: 18px; }

#main-info-container p {
    margin: .2em 15px;
    padding: 0 .2em;
    font-size: 16px;
    color: var(--text-color-1);
}

#main-info-container .question {
    padding: .2em .1em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
    background-color: var(--bg-color-3);
    border-radius: .5em;
}

#main-info-container hr { margin: 5px 20px; color: var(--border-color-2); }
#main-info-container a { color: white; font-weight: normal; }
#main-info-container a:hover { color: rgb(91, 91, 255); }

#main-discord-container {
    max-width: 250px;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-color-1);
    border: 1px solid var(--border-color-1);
    border-radius: 10px;
}

#main-discord-container #top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#main-discord-container #text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
}

#main-discord-container img { width: 30px; height: 30px; border-radius: 50%; }
#main-discord-container h3 { font-size: 14px; }
#main-discord-container p { font-size: 13px; color: var(--text-color-1); }

#main-discord-container a {
    display: block;
    margin: 8px 5px 0 5px;
    padding: .2em;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    background-color: rgb(0, 188, 0);
    border-radius: 8px;
    transition: 100ms;
}

#main-discord-container a:hover { background-color: rgb(0, 139, 0); }

#main-members-container {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 250px;
    padding: 10px;
    background-color: var(--bg-color-1);
    border: 1px solid var(--border-color-1);
    border-radius: 10px;
}

#main-members-container h3 { margin-bottom: 10px; text-align: center; font-size: 18px; }

/* Media queries */
@media screen and (max-width: 900px) {
    #main-home-container { flex-direction: column; align-items: center; }
}